<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}タイトル{% endblock %}</title>
</head>
<body>

    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            <p>&copy; 2025 My Application</p>
        {% endblock %}
    </footer>

    {% block scripts %}
    {% endblock %}

</body>
</html>