{% extends "base.html" %}
{% set show_header = False %}
{% set show_footer = False %}

{% block page_title %}
ログイン
{% endblock %}

{% block content %}
<h1>ログイン</h1>
<form method="post" action="{{ url_for('login') }}">
  <label>メールアドレス</label>
  <input type="text" name="email" placeholder="email" required />
  <label>パスワード</label>
  <input type="password" name="password" placeholder="password" required />
  <button type="submit">ログイン</button>
</form>
{% endblock %}

{% block scripts %}
{% endblock %}
