{% extends "base.html" %}
{% set show_header = False %}
{% set show_footer = False %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center">
    <div class="card bg-custom-dark-2 border-0 shadow-lg p-4 rounded-4 mx-auto" >
        <h2 class="text-center fw-bold col-auto" style="white-space: nowrap;"> メールをご確認ください</h2>

        <div class="flex-grow-1 d-flex align-items-center">

            <form method="POST" action="{{ url_for('password_reset_sent') }}">
                
                <!-- パスワード再設定メール -->
                <div class="mb-4 fs-3">
                    <input type="email" name="email" class="bg-dark text-white border-0"
                        placeholder="パスワード再設定メールをお送りしました。" required>
                </div>

                <!-- 戻るボタン -->
                <div class="d-grid fs-2">
                    <button type="submit" class="btn btn-lg rounded-pill text-white fw-bold"
                            style="background: linear-gradient(90deg, #005CFF 0%, #00C2FF 100%);">
                        戻る
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}