{% extends 'base.html' %}

{% set show_back_button = True %}

{% block page_title %}
レポート詳細
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="text-center mb-4 text-white">レポート詳細</h1>
        <div class="bg-custom-dark-2 border border-custom rounded-3 p-4 mb-4">
            <div class="report-content">
                <div class="table-responsive">
                    {{ report_html_content|safe }}
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a href="{{ url_for('report_list') }}" class="btn btn-primary">
                レポート一覧へ
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
{% endblock %}